<section id="mypulse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mypulse-content">
                    <div class="mypulse-content-header bg-img">
                        <i class="bi bi-lock"></i>
                        Tüm cevaplar anonim olarak toplanmaktadır.
                    </div>
                    <div class="mypulse-content-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-4">
                                <ul class="list-unstyled user-info">
                                    <li class="avatar">
                                        <img src="https://avatars.githubusercontent.com/u/40641928?v=4" alt="user name" class="img-fluid rounded-circle" width="100px">
                                    </li>
                                    <li class="username">
                                        <a href="#" class="text-dark">Eyüp Bahadır</a>
                                        <small>Müşteri Temsilcisi</small>
                                    </li>
                                    <li class="rated">
                                        <small>Değerlendirin</small>
                                        <div class="star-list">
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-muted"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-10 col-md-8">
                                <div class="support-answer">
                                    <div class="support-answer-time">
                                        <i class="bi bi-clock-history me-2"></i> Tarih / Saat 2021-09-10:17:27
                                    </div>
                                    <div class="support-answer-content">
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsam atque architecto, ducimus eum corporis delectus esse maiores illo omnis repudiandae beatae sint laboriosam! Quae optio at unde vero praesentium ipsum aspernatur facilis laborum, doloribus quidem ullam voluptates, odio voluptatem inventore explicabo illo iusto aperiam? Error mollitia alias numquam sunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-4">
                                <ul class="list-unstyled user-info">
                                    <li class="avatar">
                                        <!-- <img src="https://avatars.githubusercontent.com/u/40641928?v=4" alt="user name" class="img-fluid rounded-circle" width="100px"> -->
                                    </li>
                                    <li class="username">
                                        <a href="#" class="text-dark">Eyüp Bahadır</a>
                                        <small>Müşteri Temsilcisi</small>
                                    </li>
                                    <li class="rated">
                                        <small>Değerlendirin</small>
                                        <div class="star-list">
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-danger"></i>
                                            <i class="bi bi-star-fill text-muted"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-10 col-md-8">
                                <div class="support-answer">
                                    <div class="support-answer-time">
                                        <i class="bi bi-clock-history me-2"></i> Tarih / Saat 2021-09-10:17:27
                                    </div>
                                    <div class="support-answer-content">
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsam atque architecto, ducimus eum corporis delectus esse maiores illo omnis repudiandae beatae sint laboriosam! Quae optio at unde vero praesentium ipsum aspernatur facilis laborum, doloribus quidem ullam voluptates, odio voluptatem inventore explicabo illo iusto aperiam? Error mollitia alias numquam sunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" method="POST">
                            <div class="support-message">
                                <div class="input-group">
                                    <a class="btn fs-5 text-muted" role="button">
                                        <i class="bi bi-emoji-smile"></i>
                                    </a>
                                    <input type="text" class="form-control" placeholder="Bir mesaj yazın" aria-label="Bir mesaj yazın" aria-describedby="messageSend">
                                    <button type="submti" class="btn btn-danger text-white rounded-5 mx-2" id="messageSend">
                                        <i class="bi bi-chevron-double-left"></i> Yanıtla
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>