<div class="row mt-4 ">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Şifre Değiştir</h5>


      </div>

      <div class="card-body">

        <form [formGroup]="resetPasswordForm"  (ngSubmit)="resetPasswordSubmit()">
       
          <div class="form-group">
            <label for="exampleFormControlInput1">Mevcut Şifre</label>
            <input type="password" formControlName="currentPassword" 
                class="form-control" id="currentPassword" placeholder="Mevcut şifre giriniz"
                [ngClass]="(f.currentPassword?.invalid && (isSubmit  || f.currentPassword?.touched || f.currentPassword?.dirty))?'is-invalid':''">
        </div> 
        
        <div class="form-group">
            <label for="exampleFormControlInput1">Yeni Şifre</label>
            <input type="password" formControlName="password" 
                class="form-control" id="password" placeholder="Yeni şifre giriniz"
                [ngClass]="(f.password?.invalid && (isSubmit  || f.password?.touched || f.password?.dirty))?'is-invalid':''">
        </div>


       <div class="form-group">
            <label for="exampleFormControlInput1">Şifre Tekrar</label>
            <input type="password" formControlName="passwordConfirm" 
                class="form-control" id="passwordConfirm" placeholder="Yeni şifreyi tekrar giriniz"
                [ngClass]="(f.passwordConfirm?.invalid && (isSubmit  || f.passwordConfirm?.touched || f.passwordConfirm?.dirty))?'is-invalid':''">
            <div
            *ngIf="(f.passwordConfirm?.invalid && (isSubmit  ||  f.passwordConfirm?.touched || f.passwordConfirm?.dirty))">

                <label *ngIf="f.passwordConfirm?.errors?.required " class="text-danger">
                  Şifre tekrar giriniz</label>
                <label  *ngIf="f.passwordConfirm.errors?.mustMatch" class="text-danger">
                  Şifreler eşleşmiyor</label>
            </div>   
        </div>


     

         

      

          <div *ngIf="f.password?.dirty || f.password?.touched">
            <div class="row  mt-2 ">
              <div class="col-md-6">
                <label  class="text-danger"
                  [ngClass]="f.password?.hasError('required') || f.password.hasError('minlength')  ? 'd-block' : 'd-none'">

                  En az 8 karakter olmalı
                </label>
              </div>
              <div class="col-md-6">
                <label  class="text-danger"
                  [ngClass]="f.password?.hasError('required') || f.password?.hasError('hasNumber')  ? 'd-block' : 'd-none'">

                  En az 1 adet sayı içermeli
                </label>
              </div>
            </div>


            <div class="row  ">
              <div class="col-md-6">
                <label  class="text-danger"
                  [ngClass]="f.password?.hasError('required') || f.password?.hasError('hasCapitalCase')  ? 'd-block' : 'd-none'">
                  En az 1 adet büyük harf içermeli
                </label>
              </div>
              <div class="col-md-6">
                <label  class="text-danger"
                  [ngClass]="f.password?.hasError('required') || f.password.hasError('hasSmallCase')  ? 'd-block' : 'd-none'">

                  En az 1 adet küçük harf içermeli
                </label>
              </div>
            </div>

            <div class="row  ">
              <div class="col-md-8">
                <label  class="text-danger"
                  [ngClass]="f.password?.hasError('required') || f.password.hasError('hasSpecialCharacters') ?'d-block' : 'd-none'">

                  En az 1 adet özel karakter içermeli
                </label>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>



          
          <button type="submit" [attr.disabled]="isSubmit?true:null"
          class="btn bg-gradient-dark ms-auto mb-0 js-btn-next text-capitalize float-end"
          title="Kaydet">

          <img *ngIf="isSubmit" class="float-start px-1" src="../../../../../assets/img/circle-loading.svg">

          Kaydet</button>

        </form>
      </div>
    </div>
  </div>
</div>