<div class="row">
    <div class="col-md-12">
        <div class="mypulse-content">
            <div class="mypulse-content-header bg-img" >
                <i class="bi bi-lock"></i>
                 Ooops !!!!
            </div>
            <div class="mypulse-content-body">
                <div class="mypulse-content-body-text">
                    <img src="assets/images/mascot-bg.png" alt="*" class="img-fluid">
                    <h1 class="title h2">Anket Bulunamadı</h1>
                </div>
            </div>
            <div class="mypulse-content-footer">
                <p class="text-center">
                   
                </p>
            </div>
        </div>
    </div>
</div>