<div class="row">
    <div class="col-md-12">
        <div class="mypulse-content">
            <div class="mypulse-content-header bg-img" >
                <i class="bi bi-lock"></i>
                Tüm cevaplar anonim olarak toplanmaktadır.
            </div>
            <div class="mypulse-content-body">
                <div class="mypulse-content-body-text">
                    <img src="assets/images/mascot-bg.png" alt="*" class="img-fluid">
                    <h1 class="title h2">My Pulse</h1>
                    <p class="desc">
                        Daha iyi bir çalışma ortamı oluşturmamıza yardımcı olun
                    </p>
                    <a  [routerLink]="['/survey',firstQuestionId]" class="btn btn-danger text-white w-100 rounded-5">
                        Ankete Başla
                    </a>
                </div>
            </div>
            <div class="mypulse-content-footer">
                <p class="text-center">
                    <span class="text-danger">Önemli Bilgilendirme: </span>
                    MyPulse anketleriyle işyerindeki çalışanların anlık duygu durumları toplanmaktadır. Anketin açık ya da anonim olma durumunu sayfanın üzerinde belirtilmektedir.
                    Anonim anketlerde kimlik bilgileriniz gizlidir. Açık anketlerde ise ankete verdiğiniz cevapların yanında kimlik bilgilerinizde gözükmektedir.
                </p>
            </div>
        </div>
    </div>
</div>