<div class="question-details">
    <p class="title fs-4">
        Sizce dönem değerlendirme toplantıları nasıl yapılmalı? <br>
        Nelere dikkat edilmeli?
    </p>
    <span class="labelWarn">Görüşlerinizi aşağıdaki kutucuğa yazdıktan sonra ‘’Sonraki Soru’’ butonuna
        tıklayınız.</span>
    <form action="" method="POST">
        <div class="question-details-comment mt-2">
            <div class="comment-col fx-100">
                <div class="w-50" id="addComment">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Yorum Ekleyin" id="floatingTextArea"
                            style="height: 75px"></textarea>
                        <label for="floatingTextArea">Yorum Ekleyin</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>