<div class="question-details" *ngIf="currentQuestion">
    <p class="title fs-4">
         {{currentQuestion.title}}
    </p>
    <span class="labelWarn">  {{currentQuestion.description}}</span>
    <form action="" method="POST">
        <div class="question-details-comment mt-2">
            <div class="comment-col fx-100">
                <div class="w-50" id="addComment">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Yorum Ekleyin" id="floatingTextArea"
                            style="height: 75px"></textarea>
                        <label for="floatingTextArea">Yorum Ekleyin</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>