
                        <div class="question-details">
                            <p class="title fs-4">
                                HPW’deki insan kaynakları uygulamlarını diğer şirketlerle <br>
                                karşılaştırdığınızda nasıl değerlendiriyorsunuz?
                            </p>
                            <span class="labelWarn">Lütfen aşağıdaki seçeneklerden bir tanesini seçiniz.</span>
                            <form action="" method="POST">
                                <div class="question-details-rate">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="questioncheck1" checked>
                                        <label class="form-check-label" for="questioncheck1">
                                            Çok daha başarılı
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="questioncheck2">
                                        <label class="form-check-label" for="questioncheck2">
                                          Kısmen başarılı
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="questioncheck3">
                                        <label class="form-check-label" for="questioncheck3">
                                          Hemen hemen aynı
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="questioncheck4">
                                        <label class="form-check-label" for="questioncheck4">
                                          Kısmen başarısız
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="questioncheck5">
                                        <label class="form-check-label" for="questioncheck5">
                                          Çok daha başarısız
                                        </label>
                                    </div>
                                </div>
                                <div class="question-details-comment">
                                    <div class="comment-col">
                                        <div class="collapse show w-100" id="addComment">
                                            <p class="h6">
                                                Sizi böyle hissettiren şey neydi ?
                                            </p>
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Yorum Ekleyin" id="floatingTextArea" style="height: 75px"></textarea>
                                                <label for="floatingTextArea">Yorum Ekleyin</label>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="comment-col">
                                        <button class="btn collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#addComment" aria-expanded="true" aria-controls="addComment">
                                            <i class="bi bi-chat"></i>
                                            <span class="text-danger">Yorum Ekle</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                   