
       <div [@enter] [@leave] class="question-details" *ngIf="currentQuestion">
        <p class="title fs-4">
             {{currentQuestion.title}}
        </p>
        <span class="labelWarn">  {{currentQuestion.description}}</span>
                            <form action="" method="POST">
                                <div class="question-details-rate">
                                    <div *ngFor="let option of currentQuestion.surveyQuestionOptions" class="form-check">
                                        <input (change)="selectOption(currentQuestion,option)" class="form-check-input" type="radio" name="flexRadioDefault" id="questioncheck1">
                                        <label class="form-check-label" for="questioncheck1">
                                           {{option.title}}
                                           <span *ngIf="option.description">({{option.description}})</span>
                                        </label>
                                        
                                    </div>
                                </div>
                                <div class="question-details-comment">
                                    <div class="comment-col">
                                        <div class="collapse  w-100" id="addComment">
                                            <p class="h6">
                                                Sizi böyle hissettiren şey neydi ?
                                            </p>
                                            <div class="form-floating">
                                                <textarea class="form-control" (change)="addComment($event)" placeholder="Yorum Ekleyin" id="floatingTextArea" style="height: 75px"></textarea>
                                                <label for="floatingTextArea">Yorum Ekleyin</label>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="comment-col">
                                        <button class="btn collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#addComment" aria-expanded="false" aria-controls="addComment">
                                            <i class="bi bi-chat"></i>
                                            <span class="text-danger">Yorum Ekle</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                   