
<div class="row">
    <div class="col-md-12">
        <div class="mypulse-content">
            <div class="mypulse-content-header bg-img">
                <i class="bi bi-lock"></i>
                Tüm cevaplar anonim olarak toplanmaktadır.
                <a class="float-end text-white " [routerLink]="['/message']"> <i class="bi bi-chat-dots"></i> Mesaj</a>
            </div>
            <div class="mypulse-content-body">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="mypulse-content-body-text">
                            <img src="assets/images/mascot-bg.png" alt="*" class="img-fluid">
                        </div>
                    </div>
                  
                    <div class="col-md-8" *ngIf="currentQuestion">
                    
                        <app-selection *ngIf="currentQuestion.type==question_type.SELECT"  [currentQuestion]="currentQuestion" ></app-selection>
                        <app-multi-selection *ngIf="currentQuestion.type==question_type.MULTI_SELECT" [currentQuestion]="currentQuestion"  ></app-multi-selection>
                        <app-emotion  *ngIf="currentQuestion.type==question_type.EMOTION"  [currentQuestion]="currentQuestion"    ></app-emotion>
                        <app-comment   *ngIf="currentQuestion.type==question_type.INPUT" [currentQuestion]="currentQuestion"   ></app-comment>
                        <app-rate  *ngIf="currentQuestion.type==question_type.RATING" [currentQuestion]="currentQuestion"  ></app-rate>

                    </div>
                </div>
            </div>

            <div class="mypulse-content-footer">
                <div class="row">
                    <div class="col-md-3 col-6 order-1 order-lg-1 order-sm-2">
                        <button  (click)="prevQuestion()" type="button" class="btn btn-danger text-white rounded-5">
                            <i class="bi bi-chevron-left"></i> Önceki Soru
                        </button>
                    </div>
                    <div class="col-md-6 text-center order-lg-2 order-sm-1">
                        <label for="questionID" class="text-danger fs-4 fw-bold">
                            SORU {{question+1}} / {{totalQuestion}}
                        </label>
                    </div>
                    <div  class="col-md-3 col-6 text-end order-lg-3 order-sm-3" >
                        <button [attr.disabled]="currentQuestion?null:'disabled'" (click)="nextQuestion()" type="button" class="btn btn-danger text-white rounded-5">
                            Sonraki Soru <i class="bi bi-chevron-right"></i> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
